<h1 style="text-align:center;text-decoration:underline">Click to start the LONGEST WORD GAME</h1>
<div class=rules>
  <ol style=><strong>Rules:</strong>
    <li>Using the given letters write an english word.</li>
    <li>Can only use each letter once.</li>
    <li>Points are given for speed and word length.</li>
  </ol>
<h3 style="text-align:center" ><%= link_to "Begin", new_path%></h3>
