<h3>********* Welcome to the longest word-game! *********</h3>
<h3>Here is your grid:</h3>
<p class = letters> <%= @letters%> </p>

<form action="score" method="post" data-turbo="false" class="form">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letter, @letters %>
  <%= hidden_field_tag :start, Time.now %>
  <input type="text" name="word" class="input">
  <input type="submit" value="Submit" class="button">
</form>
